[submodule "submodules/dotfiles"]
	path = submodules/dotfiles
	url = git@github.com:pascalweiss/config-files.git
[submodule "submodules/envi-vim"]
	path = submodules/envi-vim
	url = git@github.com:pascalweiss/envi-vim.git
